body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

th, td {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

.highlight {
  background-color: yellow;
}

dialog {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 90%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
